h1{
    font-size:40px;
    color:aquamarine
}
body{
    text-align:center
}
#Apps{
    width:900px;
    height:1200px;
    background-color:linear-gradient(#40eda8 0% , #3897f5 100%)
}
#Games{
    width:900px;
    height:1200px;
    background-color:linear-gradient(#c4f53d 0% , #3df55f 100%)
}
#chatbot{
    width:900px;
    height:1200px;
    background-color:linear-gradient(#a746e8 0% , #e655c6 100%)
}
img{
    transition: transform:.2s
}
img:hover{
    transform:scale(9);
}
.line{
    height:8px;
    background-color: aquamarine;
    width:70px;
    margin:8pxauto;
}
